<head>
    <title>{{ if .Title }}{{ .Title }} - {{ end }}{{ .Site.Title }}</title>

    <link rel="stylesheet" type="text/css" href="{{ `css/normalize.css` | relURL }}" />
    <link rel="stylesheet" type="text/css" href="{{ `css/style.css` | relURL }}" />

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Custom CSS to override theme properties (/static/style.css) -->
{{ if (fileExists "static/style.css") -}}
    <link rel="stylesheet" href="{{ "style.css" | absURL }}">
{{- end }}

</head>